# OS Specific stuff
.DS_Store

Brewfile.lock.json
files/.config/configstore
files/.config/iterm2
files/.config/jgit
files/.config/nvim/plugin/packer_compiled.lua

# Xmonad Stuff
files/.xmonad/xmonad.errors
files/.xmonad/xmonad.hi
files/.xmonad/xmonad.o
files/.xmonad/xmonad-x86_64-linux
