# OS Specific stuff
.DS_Store

Brewfile.lock.json

files/.config/*
files/.config/nvim/plugin/packer_compiled.lua
!files/.config/alacritty
!files/.config/hypr
!files/.config/i3
!files/.config/i3status
!files/.config/kitty
!files/.config/lvim
!files/.config/nvim
!files/.config/polybar
!files/.config/rofi
!files/.config/xmonar
!files/.config/starship.toml

# Xmonad Stuff
files/.xmonad/xmonad.errors
files/.xmonad/xmonad.hi
files/.xmonad/xmonad.o
files/.xmonad/xmonad-x86_64-linux
files/.xmonad/build-x86_64-linux/Main.hi
files/.xmonad/build-x86_64-linux/Main.o
