extends html

snippet viewport
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
snippet hbsinput
	{{input value=${1}}}
snippet hbstxtarea
	{{textarea value=${1}}}
snippet hbsearch
	{{#each model as |${1:value}}}
		${2:Content goes here}
	{{/each}}${3}
snippet hbslinkto
	{{#link-to '${1:Route}'}}${2:Link Text}{{/link-to}}${3}
