# Global snippets

snippet date
`strftime("%Y-%m-%d")`
endsnippet

snippet ddate
`strftime("%B %d, %Y")`
endsnippet

snippet time
`strftime("%H:%M")`
endsnippet

snippet datetime
`strftime("%Y-%m-%d %H:%M")`
endsnippet
