* {
  border: none;
  font-family: "Comic Code Ligatures", "Operator Mono Nerd Font";
  font-size: 20px;
  margin: 0;
  padding: 0;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  background-color: transparent;
  padding: 0 10px;
}

#bluetooth,
#keyboard-state,
#mode,
#network,
#pulseaudio,
#tray,
#window,
#workspaces {
  padding: 0 20px;
}
