<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="VendorNet Nuget" value="http://10.227.99.41:8090/nuget" />
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	<add key="AspNetMaster" value="https://www.myget.org/F/aspnetmaster" />
	<add key="AspNetVNext" value="https://www.myget.org/F/aspnetvnext/api/v2/" />
	<add key="AspNetFinal" value="https://www.myget.org/F/aspnetrc1/api/v2/" />
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
	<add key="VendorNet Nuget" value="http://10.227.99.41:8090/nuget" />
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	<add key="AspNetMaster" value="https://www.myget.org/F/aspnetmaster" />
	<add key="AspNetVNext" value="https://www.myget.org/F/aspnetvnext/api/v2/" />
	<add key="AspNetFinal" value="https://www.myget.org/F/aspnetrc1/api/v2/" />
  </activePackageSource>
</configuration>
