layout {
    pane split_direction="vertical" {
        pane
        pane split_direction="horizontal" {
            pane
            pane command="lazygit"
        }
    }
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
